#!/bin/bash
# vi:syntax=sh

# Define colors.
ESCC="\e"                    # escape sequence
ASCII_BLACK="$ESCC[0;30m"    # Black / Regular
ASCII_RED="$ESCC[0;31m"      # Red
ASCII_GREEN="$ESCC[0;32m"    # Green
ASCII_YELLOW="$ESCC[0;33m"   # Yellow
ASCII_BLUE="$ESCC[0;34m"     # Blue
ASCII_PURPLE="$ESCC[0;35m"   # Purple
ASCII_CYAN="$ESCC[0;36m"     # Cyan
ASCII_WHITE="$ESCC[0;37m"    # White

ASCII_BBLACK="$ESCC[1;30m"   # BBlack / Bold
ASCII_BRED="$ESCC[1;31m"     # BRed
ASCII_BGREEN="$ESCC[1;32m"   # BGreen
ASCII_BYELLOW="$ESCC[1;33m"  # BYellow
ASCII_BBLUE="$ESCC[1;34m"    # BBlue
ASCII_BPURPLE="$ESCC[1;35m"  # BPurple
ASCII_BCYAN="$ESCC[1;36m"    # BCyan
ASCII_BWHITE="$ESCC[1;37m"   # BWhite

ASCII_UBLACK="$ESCC[4;30m"   # UBlack / Underline
ASCII_URED="$ESCC[4;31m"     # URed
ASCII_UGREEN="$ESCC[4;32m"   # UGreen
ASCII_UYELLOW="$ESCC[4;33m"  # UYellow
ASCII_UBLUE="$ESCC[4;34m"    # UBlue
ASCII_UPURPLE="$ESCC[4;35m"  # UPurple
ASCII_UCYAN="$ESCC[4;36m"    # UCyan
ASCII_UWHITE="$ESCC[4;37m"   # UWhite

ASCII_BGBLACK="$ESCC[40m"    # BGBlack - background
ASCII_BGRED="$ESCC[41m"      # BGRed
ASCII_BGGEEEN="$ESCC[42m"    # BGGreen
ASCII_BGYELLOW="$ESCC[43m"   # BGYellow
ASCII_BGBLUE="$ESCC[44m"     # BGBlue
ASCII_BGPURPLE="$ESCC[45m"   # BGPurple
ASCII_BGCYAN="$ESCC[46m"     # BGCyan
ASCII_BGWHITE="$ESCC[47m"    # BGWhite
ASCII_BROWN="$ESCC[0;33m"
ASCII_LIGHTGRAY="$ESCC[0;37m"
ASCII_DARKGRAY="$ESCC[1;30m"
ASCII_PINK="$ESCC[35;40m"
ASCII_NC="$ESCC[0m"          # No color


echo -e "${ASCII_PURPLE}
 _        _______ _________ _______  _        _______
| \    /\(  ___  )\__   __/(  ___  )( (    /|(  ___  )
|  \  / /| (   ) |   ) (   | (   ) ||  \  ( || (   ) |
|  (_/ / | (___) |   | |   | (___) ||   \ | || (___) |
|   _ (  |  ___  |   | |   |  ___  || (\ \) ||  ___  |
|  ( \ \ | (   ) |   | |   | (   ) || | \   || (   ) |
|  /  \ \| )   ( |   | |   | )   ( || )  \  || )   ( |
|_/    \/|/     \|   )_(   |/     \||/    )_)|/     \|${ASCII_NC}"

# Print System info. I like to print when the server was rebuilt.
#echo -e "${ASCII_YELLOW}This server was born on 6-28-2015 at 1:13AM PST${ASCII_NC}"

# Memory usage Information.
MemFreeB=`cat /proc/meminfo | grep MemFree | awk {'print $2'}`
MemTotalB=`cat /proc/meminfo | grep MemTotal | awk {'print $2'}`
MemUsedB=`expr $MemTotalB - $MemFreeB`
MemFree=`printf "%0.2f\n" $(bc -q <<< scale=2\;$MemFreeB/1024/1024)`
MemUsed=`printf "%0.2f\n" $(bc -q <<< scale=2\;$MemUsedB/1024/1024)`
MemTotal=`printf "%0.2f\n" $(bc -q <<< scale=2\;$MemTotalB/1024/1024)`

# Swap Usage Information.
SwapFreeB=`cat /proc/meminfo | grep SwapFree | awk {'print $2'}`
SwapTotalB=`cat /proc/meminfo | grep SwapTotal | awk {'print $2'}`
SwapUsedB=`expr $SwapTotalB - $SwapFreeB`
SwapFree=`printf "%0.2f\n" $(bc -q <<< scale=2\;$SwapFreeB/1024/1024)`
SwapUsed=`printf "%0.2f\n" $(bc -q <<< scale=2\;$SwapUsedB/1024/1024)`
SwapTotal=`printf "%0.2f\n" $(bc -q <<< scale=2\;$SwapTotalB/1024/1024)`

# Root Usage Information.
RootFreeB=`df -k / | tail -1 | awk '{print $3}'`
RootUsedB=`df -k / | tail -1 | awk '{print $2}'`
RootTotalB=`expr $RootFreeB + $RootUsedB`
RootFree=`printf "%0.2f\n" $(bc -q <<< scale=2\;$RootFreeB/1024/1024)`
RootUsed=`printf "%0.2f\n" $(bc -q <<< scale=2\;$RootUsedB/1024/1024)`
RootTotal=`printf "%0.2f\n" $(bc -q <<< scale=2\;$RootTotalB/1024/1024)`

# TODO(samcliu): Replace with printf + tput setaf for colors instead of echo -e
#                and these unintelligble symbols!
# Schemes.
BlueScheme="\e[0;34m#####"
CyanScheme="\e[0;36m#####"
LightBlueScheme="\e[1;34m#####"
LightCyanScheme="\e[1;36m#####"
MaxLeftOverChars=35
Hostname=`hostname`
HostChars=$((${#Hostname} + 8))
LeftoverChars=$((MaxLeftOverChars - HostCHars -10))
PreHostScheme=$BlueScheme$BlueScheme$LightBlueScheme$LightBlueScheme
#HostCyanScheme=`printf '\e[1;36m#' $(seq 1 $HostChars)`
HostScheme=`head -c $HostChars /dev/zero|tr '\0' '#'`
#HostBlueScheme=`printf '%0.s\e[1;34m#' $(seq 1 $HostChars)`
#HostBlueScheme=`head -c $HostChars /dev/zero|tr '\0' '#'`
#PostHostScheme=`printf '%0.s\e[1;34m#' $(seq 1 $LeftoverChars)`
PostHostScheme=`head -c $LeftoverChars /dev/zero|tr '\0' '#'`

ubuntu_info="$(lsb_release -d | awk '{print $2}') $(lsb_release -d | awk '{print $3}')\n"
updates_available="/var/lib/update-notifier/updates-available"
[ ! -r "$updates_available" ] || ubuntu_info="${ubuntu_info}\n${ASCII_BRED}$(cat "$stamp")${ASCII_NC}"

stack_info="Stack: <%= @stack -%> \nLayer: <%= @layer -%> \nPublic IPV4: <%= @ipaddress -%> \n"

#\e[0;34m# \e[1;33mIp        \e[1;34m= \e[0;32m`ip route get 8.8.8.8 | head -1 | cut -d' ' -f8`
# Output.
# TODO:
#   Add Instance public/private IPs
#   Add Stack information
#   Add layer information
#\e[0;34m# \e[1;33mRelease   \e[1;34m= \e[0;32m`cat /etc/*release | head -n 1`
#\e[0;34m# \e[1;33mCPU Util  \e[1;34m= \e[0;32m`LANG=en_GB.UTF-8 mpstat 1 1 | awk '$2 ~ /CPU/ { for(i=1;i<=NF;i++) { if ($i ~ /%idle/) field=i } } $2 ~ /all/ { print 100 - $field "%"}' | tail -1`
#\e[0;34m# \e[1;33mMemory    \e[1;34m= \e[0;32mFree: ${MemFree}GB, Used: ${MemUsed}GB, Total: ${MemTotal}GB
#\e[0;34m# \e[1;33mSwap      \e[1;34m= \e[0;32mFree: ${SwapFree}GB, Used: ${SwapUsed}GB, Total: ${SwapTotal}GB
#\e[0;34m# \e[1;33mRoot      \e[1;34m= \e[0;32mFree: ${RootFree}GB, Used: ${RootUsed}GB, Total: ${RootTotal}GB
#\e[0;34m# \e[1;33mSessions  \e[1;34m= \e[0;32m`who | grep $USER | wc -l` sessions
echo -e "
${ASCII_BLUE}${ubuntu_info}${ASCII_NC}
${ASCII_RED}$stack_info${ASCII_NC}
\e[0;34m# \e[1;33mUptime    \e[1;34m= \e[0;32m`awk '{print int($1/3600)":"int(($1%3600)/60)":"int($1%60)}' /proc/uptime`
\e[0;34m# \e[1;33mCPU Load  \e[1;34m= \e[0;32m`uptime | grep -ohe '[s:][: ].*' | awk '{ print "1m: "$2 " 5m: "$3 " 15m: " $4}'`
\e[0;34m# \e[1;33mProcesses \e[1;34m= \e[0;32m`ps -Afl | wc -l` running processes of `ulimit -u` maximum processes
"
